@import url('https://fonts.googleapis.com/css?family=Anton|Biryani:300,400,700,900&display=swap');

.logo {
    position: fixed;
    left: 4rem;
    top: 2rem;
    z-index: 4000;
    font-weight: 700;
    font-size: 1rem;
}

.nav-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid rgb(99, 98, 98);
    color:  rgb(99, 98, 98);
    height: 5em;
    width: 5em;
    position: fixed;
    z-index: 2000;
    top: 2rem;
    right: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition-property: all;
    transition-duration: 1000ms;
    transition-timing-function: ease;
    opacity: 1;
    /* background-color: rgb(31, 30, 30); */
    /* transition-delay: 900ms; */
    /* transform: rotate(-180deg); */
}

.nav-trigger.active {
    /* opacity: 0.5; */
    transition-property: all;
    transition-duration: 1200ms;
    /* border: 1px solid rgb(197, 194, 194);
    color: rgb(197, 194, 194); */
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-trigger_text {
    position: absolute;
    height: 1.45em;
    overflow: hidden;
    text-align: center;
}

.nav-trigger_text div {
    transition-delay: 0ms;
    transition-duration: 800ms;
    transform: translateY(0em);
}

.nav-trigger_text.active div {
    transition-duration: 1000ms;
    transform: translateY(-1.45em);
    
}

.menu-open {
    opacity: 1;
}

.menu-open.active {
    opacity: 0;
    }

.menu-close {
    opacity: 0;
}

.menu-close.active {
    opacity: 1;
}

.nav-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgb(32, 32, 32);
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
    transform: translateX(100vw);
    transition: 800ms;
    transition-timing-function: cubic-bezier(0.33, 0, 0.175, 1);
}

.nav-content.active {
    transition: 1000ms;
    /* opacity: 1; */
    transform: translateX(0vw);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    /* transform: rotate(90deg); */
}

.nav-elements {
    position: absolute;
    top: 20.4rem;
    left: 1.4em;
    opacity: 1;
    /* color: rgb(177, 174, 174); */
    font-size: 9rem;
    font-weight: 900;
    line-height: 0.8em;
    transition-property: transform, opacity;
   transform: translateX(-96vw);
   transition-delay: 0ms, 0ms;
   transition-duration: 800ms, 400ms;
   transition-timing-function: cubic-bezier(0.33, 0, 0.175, 1), ease;
}

.nav-elements.active {
    transition-property: transform, opacity;
    transition-delay: 0ms, 0ms;
    transition-duration: 1000ms, 1200ms;
    transform: translateX(0vw);
    opacity: 1;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1), ease;
}

.nav-elements div {
    font-family: 'Anton', sans-serif;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    transform: translateX(0em);
    opacity: 0.4;
    color: rgb(197, 194, 194);
    cursor: pointer;
    transition: 1000ms;
}

.nav-elements div:hover {
    transition-duration: 0ms;
    transform: translateX(0em);
    opacity: 0.8;
    /* color: rgb(255, 253, 253); */
}

.nav-elements.active div {
    transform: translateX(0em);
    /* transition-duration: 300ms; */
}

.nav-elements p {
    font-family: 'Biryani', sans-serif;
    text-transform: uppercase;
    text-align: right;
    position: relative;
    top:  -2em;
    left: 10em;
    opacity: 1;
    font-size: 1rem;
    letter-spacing: -0.05em;
    font-weight: 300 !important;
    line-height: 1.18em;
    margin: none;
    color: rgb(197, 194, 194);
    transition-property: transform, opacity;
    transition-duration: 800ms, 400ms;
    transition-timing-function: cubic-bezier(0.33, 0, 0.175, 1);
    transform: translateX(2vw);
}

.nav-elements.active p {
    transition-property: transform, opacity;
    transform: translateX(0vw);
    transition-duration: 1000ms, 1200ms;
    transition-delay: 0ms, 400ms;
    opacity: 1;
    /* transform: translateX(0.6vw); */
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1), ease;
}




