.logo {
    position: fixed;
    left: 4rem;
    top: 2rem;
    z-index: 4000;
    font-weight: 700;
    font-size: 1rem;
}

.nav-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 1px solid rgba(245, 245, 245, 0.525);
    color: rgba(245, 245, 245, 0.473);
    height: 5em;
    width: 5em;
    position: fixed;
    z-index: 2000;
    top: 2rem;
    right: 2rem;
    font-weight: 500;
    cursor: pointer;
    transition-duration: 1400ms;
    transition-timing-function: ease;
    /* background-color: rgb(31, 30, 30); */
    /* transition-delay: 900ms; */
    /* transform: rotate(-180deg); */
}

.nav-trigger.active {
    transition-duration: 800ms;
    border: 1px solid  rgba(245, 245, 245, 0.123);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-trigger_text {
    position: absolute;
    height: 1.45em;
    overflow: hidden;
    text-align: center;
}

.nav-trigger_text div {
    transition-delay: 0ms;
    transition-duration: 600ms;
    transform: translateY(0em);
}

.nav-trigger_text.active div {
    transition-duration: 1400ms;
    transform: translateY(-1.45em);
    
}

.menu-open {
    opacity: 1;
}

.menu-open.active {
    opacity: 0;
    }

.menu-close {
    opacity: 0;
}

.menu-close.active {
    opacity: 1;
}

.nav-content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgb(29, 29, 29);
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden !important;
    transform: translateX(100vw);
    transition: 800ms;
    transition-timing-function: cubic-bezier(0.33, 0, 0.175, 1);
}

.nav-content.active {
    transition: 1200ms;
    /* opacity: 1; */
    transform: translateX(0vw);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
    /* transform: rotate(90deg); */
}

.nav-elements {
    position: absolute;
    bottom: 0.3em;
    left: 0.4em;
    opacity: 0;
    color: whitesmoke;
    font-size: 10rem;
    font-weight: 900;
    line-height: 0.8em;
    transition-property: transform, opacity;
   transform: translateX(-100vw);
   transition-delay: 0ms, 0ms;
   transition-duration: 800ms, 400ms;
   transition-timing-function: cubic-bezier(0.33, 0, 0.175, 1);
}

.nav-elements.active {
    transition-property: transform, opacity;
    transition-delay: 0ms, 0ms;
    transition-duration: 1200ms, 1400ms;
    transform: translateX(0vw);
    opacity: 1;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

.nav-elements div {
    letter-spacing: -0.01em;
    text-transform: uppercase;
    transform: translateX(0em);
    opacity: 0.4;
    /* transition-duration: 300ms; */
    cursor: pointer;
    transition: 1200ms;
    /* transition-timing-function: ease; */
}

.nav-elements div:hover {
    transition-duration: 0ms;
    transform: translateX(0em);
    opacity: 0.8;
    color: rgb(245, 245, 245);
}

.nav-elements.active div {
    transform: translateX(0);
    /* transition-duration: 300ms; */
}
.nav-elements p {
    opacity: 0;
    font-size: 1.35rem;
    /* padding-left: 0.5rem; */
    font-weight: 500 !important;
    line-height: 1.05em;
    margin: none;
    color: #ffffff;
    transition-property: transform, opacity;
    transition-duration: 800ms, 400ms;
    transition-timing-function: cubic-bezier(0.33, 0, 0.175, 1);
    transform: translateX(0.6vw);
}

.nav-elements.active p {
    transition-property: transform, opacity;
    transition-duration: 1200ms, 2200ms;
    /* transition-delay: 200ms, 400ms; */
    opacity: 0.8;
    transform: translateX(0.6vw);
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1), ease;
}




