/* ===== NAV CUSTOM STYLES ===== */

/* -----  Nav Icon ----- */
.nav-icon {
    position: fixed;
    z-index: 500;
    top: 2rem;
    right: 2rem;
    padding: 0.2em 0.75em 0.2em 0.75em;
    font-size: 1rem;
    background: none;
    color: black;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: 110ms;
}


/* pink 44e5e7 */
/* ----- Nav Icon > Hover ----- */
.nav-icon:hover {
    /* filter: invert(0.1); */
    color: black;
}

/* -----  Nav Modal ----- */
.nav-modal {
    pointer-events: none;
    background: black;
    height: 100vh;
    width: 100%;
    z-index: 750;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition-property: opacity;
    transition-duration: 270ms;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 270ms;
    will-change: opacity;
}

/* -----  Nav Modal > Active ----- */
.is-nav-modal-active {
    pointer-events: all;
    opacity: 0.7;
    /* transition: 280ms; */
    cursor: pointer;
  }

  /* ----- Nav Body ----- */
.nav__body {
    /* background: rgba(0, 0, 0, 1); */
    /* background: rgba(0, 0, 0, 0.678); */
    background: black;
    /* border-left: 1px solid black; */
    width: 240px;
    height: 100vh;
    padding: 8rem 3rem;
    position: fixed;
    z-index: 1000;
    right: -240px;
    top: 0;
    transition-property: transform;
    transition-duration: 400ms;
    transition-timing-function: ease;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 400ms;
    -webkit-transition-timing-function: ease;
    will-change: transform;
    -webkit-will-change: transform;
    /* opacity: 0.6; */
}

/* ----- Nav Body Active (opened) ----- */
.is-nav-open {
    transform: translateX(-240px);
    /* opacity: 1; */
}


/* ----- Logo/Brand ----- */
.nav-logo {
    color: #ffffff;
    margin-bottom: 1em;
    font-size: 3rem;
}

/* ----- Nav List Container ----- */
.nav-list {
    opacity: 0;
    transition-property: opacity transfom !important;
    transition-duration: 400ms;
    transition-delay: 240ms;
    transition-timing-function: ease;
    transform: translateX(2em);
}

/* ----- Nav List Container > Active ----- */
.is-nav-list-open {
    opacity: 1;
    transform: translateX(0em);
}

/* ----- Nav Links ----- */
.nav-link {
    /* font-family: 'Bebas Neue', cursive; */
    font-size: 1.5rem;
    line-height: 1.3em;
    font-weight: 500;
    text-decoration: none;
    color: white;
    opacity: 0.6;
    margin: 0;
    padding: 0 !important;
    display: block;
    /* transition-duration: 300ms; */
}

/* ----- Nav Links > Hover ----- */
.nav-link:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
}

/* ----- Nav Links > Current Route ----- */
.nav-link-active {
    color: lightseagreen;
    opacity: 0.8;
  }

  .nav-link-active:hover {
    color: lightseagreen;
    opacity: 1;
  }


