/* ===== READ ME! MAIN STYLE FOR THEME/APP ===== ===== ===== ===== ===== ===== === */
/* index.css is used for primary styling for the overall theme.  Styles could also
later be applied as a theme using React Context.  Individual pages (Routes) &
Components should be placed in their own directories with stylesheets for each. */
/* ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== = */

/* Import Google Fonts here. */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/* ----- Begin base styles for html tags ----- --- */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  /* set units here for future scaling with em and rem */ 
  background: #292F36;
  color: white;
}

body {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(27, 27, 30, 0.815);
}

h1, h2, h3, h4, h5, h6 {
  color: #1B1B1E;
}

p {
  color: #1B1B1E;
}

ul {
  list-style-type: none;
  padding-left: 0em;
}

ol {
  padding-left: 1em;
}

/* ----- End base styles for html tags ----- ----- */


/* ===== Begin Custom Classes ===== */

/* ----- Base button styling ----- */
.btn {
  transition-property: all;
  transition-duration: 0.11s;
  -moz-transition-duration: 0.11s;
  border-radius: 3px;
  padding: 0.2em 1.11em;
  margin-right: 1em;
  font-weight: 700;
  background: #00A1E4;
  border: 1px solid #00A1E4;
}

/* ----- Base button focus styling ----- */
/* ----- needed to remove the reactstrap focus - re-enable for accessibility ----- */
.btn:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00A1E4;
}

/* ----- Base button hover styling ----- */
.btn:hover {
  cursor: pointer;
  filter: invert(0.1);
  background: #00A1E4;
  border: 1px solid #00A1E4;
}

/* ----- Generic base styling for pages (Routes) ----- */
.page-wrapper {
  padding-top: 6em;
  background: lightgrey;
  min-height: 100vh;
}

/* ===== End Custom Classes ===== */