/* ===== READ ME! MAIN STYLE FOR THEME/APP ===== ===== ===== ===== ===== ===== === */
/* index.css is used for primary styling for the overall theme.  Styles could also
later be applied as a theme using React Context.  Individual pages (Routes) &
Components should be placed in their own directories with stylesheets for each. */
/* ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== ===== = */

/* Import Google Fonts here. */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto&display=swap');

/* ----- Begin base styles for html tags ----- --- */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  /* set units here for future scaling with em and rem */ 
  background: #292F36;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(27, 27, 30, 0.815);
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue';
  color: #1B1B1E;
  font-weight: 700;
  line-height: 80%;
}

h1 {
  font-size: 6rem;
  color: #5E239D;
}

p {
  color: #1B1B1E;
}

ul {
  list-style-type: none;
  padding-left: 0em;
}

ol {
  padding-left: 1em;
}

a, a:hover {
  color: #F61067;
}
/* ----- End base styles for html tags ----- ----- */


/* ===== Begin Custom Classes ===== */

/* ----- Base Containers, Rows, Columns ----- */
/* Each class corresponds to the React Components by default (Reactstrap) */
/* .container {
  background: blue;
  padding: 3rem;
} */

.row {
  /* background: lightsteelblue; */
  margin-bottom: 2rem;
}

/* .col {
  background: lightskyblue;
  padding: 1rem;
} */

/* ----- Base button styling ----- */
.btn {
  transition-property: all;
  transition-duration: 110ms;
  -moz-transition-duration: 0.11s;
  border-radius: 50px;
  padding: 0.2em 1.11em;
  margin-right: 1em;
  font-weight: 500;
  background: black;
  border: 1px solid black;
}

/* ----- Base button focus styling ----- */
/* ----- needed to remove the reactstrap focus - re-enable for accessibility ----- */
.btn:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid black;
}

/* ----- Base button hover styling ----- */
.btn:hover {
  cursor: pointer;
  filter: invert(0.2);
  background: black;
  border: 1px solid black;
}

/* ----- Generic base styling for pages (Routes) ----- */
.page-wrapper {
  padding: 8rem 1rem 6rem 1rem;
  background: #ffffff;
  min-height: 100vh;
  min-width: 100%;
}

/* ===== End Custom Classes ===== */