.nav-icon-item {
    position: fixed;
    z-index: 500;
    top: 2em;
    right: 2em;
    padding: 0.1% 0;
    transition-duration: 0.22s;
    width: 3em;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgba(41, 47, 54, 0.16);
    will-change: opacity;
    text-align: center;
}

.nav-icon-item:hover {
    cursor: pointer;;
    background: rgba(41, 47, 54, 0.16);
}

.nav-icon-item-active {
   opacity: 0;
}

.nav-icon-item-active:hover {
    opacity: 0;
 }

.nav-modal {
    opacity: 0;
    background: rgba(27, 27, 30, 0.774);
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition-property: opacity;
    transition-duration: 0.22s;
    will-change: opacity;
    z-index: 750;
    pointer-events: none;
    text-align: center;
    padding: 13% 220px 0 0;
}

.nav-modal-active {
    opacity: 1;
    pointer-events: all;
}

.modal-text {
    animation: rotation 45s infinite linear;
    color: #00A1E4;
    font-size: 4em;
    border: 0.02em dashed #00A1E4;
    width: 6em;
    height: 6em;
    border-radius: 100%;
    padding-top: 2.22em;
    margin: auto;
    opacity: 0.75;
  }

  /* 00A1E4 */

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.nav-container {
    background: #1B1B1E;
    height: 100vh;
    padding: 100px 2em; 
    width: 220px;
    position: fixed;
    right: -220px;
    top: 0;
    z-index: 1000;
    text-align: center;
    will-change: transform;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.08,.62,.35,.99);
   -moz-transition-timing-function:  cubic-bezier(.08,.62,.35,.99);
    transition-duration: 0.22s;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-container-active {
    transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
}

.nav-menu {
    opacity: 0;
    transition-delay: 0.22s;
    transition-duration: 0.33s;
    left: 2em;
    position: absolute;
    will-change: opacity;
    text-align: left;
}

.nav-menu-active {
    opacity: 1;
}

.nav-logo {
    color: #ffffff;
    margin-bottom: 1em;
    font-size: 2em;
}

.nav-link {
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.55;
    margin: 0;
    padding: 0 !important;
    transition-property: opacity;
    transition-duration: 0.33s;
    display: block;
    will-change: opacity;
}

.nav-link:hover {
    opacity: 1;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-link-active {
    color: #00A1E4;
    opacity: 1;
  }

