/* Import Google Fonts here. */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Open+Sans&display=swap');

.nav-icon-item {
    position: fixed;
    z-index: 500;
    top: 2em;
    right: 2em;
    padding: 0.1% 0;
    transition-duration: 0.22s;
    width: 2em;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgba(41, 47, 54, 0.16);
    will-change: opacity;
    text-align: center;
}

.nav-icon-item:hover {
    cursor: pointer;;
    background: rgba(41, 47, 54, 0.16);
}

.nav-modal {
    opacity: 0;
    background: rgba(27, 27, 30, 0.788);
    height: 100vh;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition-property: opacity;
    transition-duration: 330ms;
    transition-timing-function: ease;
    /* will-change: opacity; */
    z-index: 750;
    pointer-events: none;
    text-align: center;
    padding: 13% 220px 0 0;
}

.nav-modal-active {
    opacity: 0.8;
    pointer-events: all;
}

.modal-text {
    animation: rotation 45s infinite linear;
    color: rgba(27, 27, 30, 0.863);
    font-size: 4em;
    border: 0.02em dashed rgba(27, 27, 30, 0.89);
    width: 6em;
    height: 6em;
    border-radius: 100%;
    padding-top: 2.22em;
    margin: auto;
    opacity: 0.75;
    font-weight: 300;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.nav-container {
    background: #1B1B1E;
    height: 100vh;
    padding: 100px 2em; 
    width: 220px;
    position: fixed;
    right: -230px;
    top: 0;
    z-index: 1000;
    will-change: transform;
    transition-property: transform;
    transition-delay: 0.15;
    transition-duration: 400ms;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-container-active {
    transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
}

.nav-menu {
    left: 2em;
    position: absolute;
    text-align: left;
}

.nav-logo {
    color: #ffffff;
    margin-bottom: 1em;
    font-size: 3rem;
}

.nav-link {
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    line-height: 1.9rem;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.55;
    margin: 0;
    padding: 0 !important;
    display: block;
}

.nav-link:hover {
    opacity: 1;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-link-active {
    color: #FF4E00;
    opacity: 1;
  }

